/* Font modification */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
	font-family: 'Muli' !important;
	font-size: 13px !important;
}

.nav-wrapper {
	background: #205390;
}
.brand-logo blue darken-3 {
	background: #205390;
}

/* Category modification */

.start-time,
.category-status>.pass,
.author-status>.pass {
	color: #23293B;
	background: #DAEAAE;
}

.end-time,
.category-status>.fail,
.author-status>.fail {
	color: #23293B;
	background: #FAC4AC;
}

.grey.lighten-1 {
	color: #23293B !important;	
	background: #CCCCCC !important;
}

.category.label.white-text {
	color: #23293B !important;
	background: #CCCCCC !important;
}

/* Right-side information icons modification */

.blue-text {
	color: #545FFD  !important
}

.green-text {
	color: #5D8F22 !important
}

.red-text {
	color: #DA4442 !important
}


.red-text.text-darken-4 {
	color: #993000 !important
}

.pink-text.text.lighten-1 {
	color: #D169AE !important
}

.orange-text {
	color: #D18400 !important;
}

.teal-text {
	color: #379FAD !important
}

/* Icon color modification in steps */

.status.pass {
	color: #5D8F22 !important;
}

.status.fail {
	color: #DA4442 !important
}

.status.info {
	color: #545FFD  !important
}

.status.fatal{
	color: #993000 !important
}

.status.skip {
	color: #D18400 !important;
}


/* Cases status colors modification  */

.test-status.right.pass {
	color: #5D8F22 !important;
}

.test-status.right.fail {
	color: #DA4442 !important;
}

.test-status.right.fatal {
	color: #993000 !important
}


.test-status.right.skip{
	color: #D18400 !important;
}


/* Modification of Status in the Categories section */
.label.pass {
	background-color: #5D8F22 !important;
}

.label.fail {
	background-color: #DA4442 !important
}

.label.others {
	color: #23293B !important;
}

.label.red.lighten-1.white-text {
	color: #23293B !important;
	background-color: #DA4442 !important;
}

.label.green.accent-4.white-text {
	color: #23293B !important;
	background-color: #5D8F22 !important;
}


.label.yellow.darken-2.white-text{
	color: #23293B !important;
}

.test-status.pass {
	color: #5D8F22 !important;
}


.test-status.fail {
	color: #DA4442 !important;
}

/* Modification to put letters in bold */
strong { 
	font-weight: bold;
}